body{
	font-family: 'Segoe UI', 'Helvetica', 'Sans Serif';
	font-size: 13pt;
}

h1{
	font-weight: 200;
}

.intro{

}

.intro a{
	font-size: 32pt;
	display: block;
	font-weight: 200;
	color: black;
	text-decoration: none;
}

.links{
	margin-top: 20px;
}

.links a{
	font-size: 12pt;
	display: block;
	font-weight: 200;
	color: blue;
	text-decoration: none;
	font-size: 0.8em;
}

.back{
	text-decoration: none;
	font-size: 12pt;
}

.remark{
	color: #AAA;
	font-style: italic;
}